<launch>
  <node name="joystick_publisher" pkg="franka_joystick_control" type="joystick_publisher" output="screen"/>
  <node name="sync_read_write_velocity_node" pkg="dynamixel_sdk_examples" type="sync_read_write_velocity_node" output="screen"/>
  <node name="read_write_winding_node" pkg="dynamixel_sdk_examples" type="read_write_winding_node" output="screen"/>
  <node name="read_write_stop" pkg="dynamixel_sdk_examples" type="read_write_stop" output="screen"/>
</launch>
